.darkBlue-theme {color:#ebe5e5 !important; background-color:#353b48 !important}
.darkerBlue-theme {color:#ebe5e5 !important; background-color:#2f3640 !important}
.orange-theme {color:#000000 !important; background-color:#ff931e !important}
.lightGray-theme {color:#000000 !important; background-color:#718093 !important}
.icon-cog-blue {color: blue;}